<h4 class="page-title">Manage Bots</h4>
<div class="block-area">
    <div class="row">       
        <div class="col-md-3">
            <div class="tile">
                <h2 class="tile-title">Total Bots Registered</h2>
                <center><span class="dash-data">{{BotsCount}}</span></center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile">
                <h2 class="tile-title">Active Bots </h2>
                <center><span class="dash-data">{{ActiveBotsCount}}</span></center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile">
                <h2 class="tile-title">Total Hash Rate Botnet</h2>
                <center><span class="dash-data">{{TotalHashrate}} MH/s</span></center>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2 class="tile-title">Active Bots</h2>
                <div class="table-responsive overflow" tabindex="5003" style="overflow: hidden; outline: none;">
                    <table class="table table-bordered table-hover tile" style="margin-bottom:0">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>ID BOT</th>
                                <th>NAME</th>
                                <th>REGISTER DATE</th>
                                <th>LAST CONNECTION DATE</th>
                                <th>STATUS</th>
                                <th>HASHRATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bot in Bots" ng-if="bot.status == 1">
                                <td>{{$index + 1}}</td>
                                <td>{{bot.id}}</td>
                                <td>{{bot.name}} </td>
                                <td>{{bot.registerDate}}</td>
                                <td>{{bot.connectionDate}}</td>
                                <td>{{bot.status}}</td>
                                <td>{{bot.hashrate}} MH/s</td>                                
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>