<h4 class="page-title">Configuración</h4>
<div class="block-area">
    <div class="row">
        <div class="col-md-9">
            <div class="tile">
                <h2 class="tile-title">Ethereum Adress Wallet</h2>
                <input type="text" class="form-control " ng-model="configuration.account" placeholder="Address Wallet 0x................................................................">
            </div>
        </div>    
        <div class="col-md-3">
            <div class="tile">
                <h2 class="tile-title">Timeout Report Process (ms)</h2>
                <input type="text" class="form-control " ng-model="configuration.timeout" placeholder="Timeout 5000">
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <h2 class="tile-title">Pool Server 1</h2>
                <input type="text" class="form-control " ng-model="configuration.poolServer1" placeholder="Url Server 1">
            </div>
        </div>
        <div class="col-md-2">
            <div class="tile">
                <h2 class="tile-title">Port Pool Server 1</h2>
                <input type="text" class="form-control " ng-model="configuration.portPoolServer1" placeholder="Port Server 1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <h2 class="tile-title">Pool Server 2</h2>
                <input type="text" class="form-control " ng-model="configuration.poolServer2" placeholder="Url Server 2">
            </div>
        </div>
        <div class="col-md-2">
            <div class="tile">
                <h2 class="tile-title">Port Pool Server 2</h2>
                <input type="text" class="form-control " ng-model="configuration.portPoolServer2" placeholder="Port Server 2">
            </div>
        </div>
    </div>
    <button class="btn f-r" ng-click="guardarConfiguracion()">Guardar Configuración</button>
</div>
